@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 25% 12%;
    --foreground: 0 0% 100%;

    --card: 230 24% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 229 27% 20%;
    --popover-foreground: 0 0% 100%;

    --primary: 213 95% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 229 27% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 228 25% 12%;
    --muted-foreground: 218 43% 87%;

    --accent: 230 24% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 3 66% 52%;
    --destructive-foreground: 0 0% 100%;

    --border: 229 27% 20%;
    --input: 229 27% 20%;
    --ring: 213 95% 52%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-poppins antialiased text-base;
  }
  a {
    @apply underline-offset-2 decoration-2;
  }
}
